*{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 246, 233);
    text-decoration: dotted;

}

.box{

    text-decoration: none;
    text-align: center;
    color: rgb(71, 44, 3);

}

.box :hover{

    color: rgb(197, 127, 22);

} 

.box a:hover{

    color: rgb(255, 72, 0);

} 

.titulo{

    margin: 30px;
    font-style: none;
    color: rgb(78, 53, 5);
    text-align: center;

}



