*{
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(165, 226, 241);

}

.life{
    background-color: rgb(54, 89, 122);
    text-align: center;
    justify-content: flex-start;
    opacity: 0.8;
    padding: 1.5rem;
    border-radius: 20pt;
}

.ht1, .ht2{
    background-color: rgb(54, 89, 122);
    color: azure;
    margin-top: 10px;
    margin-bottom: 10px;
}


.box1, .box2,.box3,.box4,.fafa1{

    background-color: rgb(54, 89, 122);
    color: azure;
    padding: 1.339rem;   
    text-align: center; 
}

.fafa,.kevin,.celso{
    background-color: rgb(200, 227, 252);
}